<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" resource="mask-rule.properties"/>
    <conversionRule conversionWord="mask" converterClass="cn.bjca.footstone.logmask.MaskMessageConverter"/>

    <property name="CONSOLE_LOG_PATTERN1"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} PATTERN1 %highlight(%-5level) | %boldYellow(%thread) | %boldGreen(%logger) | %boldYellow(%mask) %n"/>
    <property name="CONSOLE_LOG_PATTERN2"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} PATTERN2 %highlight(%-5level) [%15.15t] %-40.40logger{39} : %m%n"/>
    <property name="CONSOLE_LOG_PATTERN3"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} PATTERN3 %highlight(%5p) [%15.15t] %cyan(%-40.40logger{39}) : %m%n"/>

    <appender name="stdout1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN1}</pattern>
        </encoder>
    </appender>
    <appender name="stdout2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN2}</pattern>
        </encoder>
    </appender>
    <appender name="stdout3" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN3}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout1"/>
        <appender-ref ref="stdout2"/>
        <appender-ref ref="stdout3"/>
    </root>
</configuration>