<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="Console1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.github.bingoohuang.logmask.logback.Layout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - 脱敏后 %m%n</pattern>
                <logmask>logmask.xml</logmask>
            </layout>
        </encoder>
    </appender>
    <appender name="Console2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - 脱敏前 %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.bingoohuang" level="info" additivity="false">
        <appender-ref ref="Console2"/>
        <appender-ref ref="Console1"/>
    </logger>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - 不脱敏 %m%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>

</configuration>